name: Quality assurance

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install required packages
        run: pip install pre-commit

      - name: Run linters
        run: pre-commit run --all-files --hook-stage push

  build:
    name: Python ${{ matrix.python-version }}, django ${{ matrix.django-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]
        django-version: [32, 42, 52, 60]
        exclude:
          - python-version: "3.13"
            django-version: 32
          - python-version: "3.14"
            django-version: 32
          - python-version: "3.8"
            django-version: 52
          - python-version: "3.9"
            django-version: 52
          - python-version: "3.8"
            django-version: 60
          - python-version: "3.9"
            django-version: 60
          - python-version: "3.10"
            django-version: 60
          - python-version: "3.11"
            django-version: 60

    steps:
      - uses: actions/checkout@v4
      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install tox
        run: pip install tox
      - name: Run Tests
        env:
          TOXENV: django${{ matrix.django-version }}
        run: tox
